<div class="row" ng-show="showConnectionAlert()">
    <div class="col-lg-6 col-lg-offset-3 text-center">
        <h2>Connecting....</h2>
        <div class="progress progress-striped active">
            <div class="progress-bar" style="width: 100%"></div>
        </div>
    </div>
</div>
<div class="row">
    <desk-view desk="desk"/>
</div>
<div class="row">
    <div class="col-lg-10 col-lg-offset-1 text-center">
        <section>
            <button class="btn btn-primary" ng-click="beginVote()" ng-show="desk.state === 1">Drop cards</button>
            <button class="btn btn-primary" ng-click="endVote()" ng-show="desk.state === 0">Open cards</button>
            <button class="btn btn-primary" ng-show="desk.state === 1" clipboard text="deskReport" on-copied="copySuccess()" on-error="copyFail(err)">Copy to Clipboard</button>
        </section>
    </div>
</div>
